.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}

.main{
  flex: 1 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
}
.regresar{
  margin-top: 10px;
  margin-left: 20px;
}
h2{
  font-family: 'Lato';
  margin-left: 20px;
}
