<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
    <div class="btnRegresar">
      <button mat-fab color="primary" class="regresar"
      routerLink="/index"><mat-icon>keyboard_backspace</mat-icon></button>
    </div>
    <h2>Resultados</h2>
    <app-table-tries [id]="idTest" [subType]="subTypeTest"></app-table-tries>
  </div>
  <app-footer></app-footer>
</div>
