<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
</div>
<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let test"> {{test.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Área </th>
      <td mat-cell *matCellDef="let test"> {{test.subType}} </td>
    </ng-container>

    <!-- try Column -->
    <ng-container matColumnDef="try">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Intentos </th>
      <td mat-cell *matCellDef="let test"> {{test.try}} </td>
    </ng-container>

    <!-- button Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>Repetir simulacro </th>
      <td mat-cell *matCellDef="let test"> <button mat-raised-button color="primary" [routerLink]="['/testStart', 'try', test.id]">Repetir <mat-icon>replay</mat-icon> </button> </td>
    </ng-container>

    <!-- buttonResults Column -->
    <ng-container matColumnDef="buttonResults">
      <th mat-header-cell *matHeaderCellDef>Ver Resultados</th>
      <td mat-cell *matCellDef="let test"> <button mat-raised-button color="primary" [routerLink]="['/resultsTries', test.id, test.subType2]">Ver Resultados <mat-icon>assignment</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
