<div class="container">
  <app-navbar-user [rol]="'admin'"></app-navbar-user>
  <div class="main">
    <h1>{{ idEdit ? "Editar Pregunta" : "Agregar Pregunta" }}</h1>
    <div class="centerForm">
      <form class="form" #questionForm="ngForm">
        <div class="allRows">
          <mat-toolbar class="answersBar"> <span>Datos Pregunta</span> </mat-toolbar>
          <div class="row1">
            <mat-form-field class="example-full-width" *ngIf="idEdit">
              <input matInput disabled id="textArea" />{{ question.subject | titlecase }}
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="!idEdit">
              <mat-select
                placeholder="Área"
                #asignatura
                [(ngModel)]="question.subject"
                name="Subject"
                (ngModelChange)="changeSubject($event)"
                required
              >
                <mat-option
                  *ngFor="let asignatura of asignaturas"
                  [value]="asignatura.value"
                >
                  {{ asignatura.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select
                placeholder="Tópico"
                #topico
                [(ngModel)]="question.subSubject"
                name="Topic"
                required
              >
                <mat-option
                  *ngFor="let topico of generalTopic"
                  [value]="topico.value"
                >
                  {{ topico.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select
                placeholder="Respuesta Correcta"
                #option
                [(ngModel)]="question.correctAnswer"
                name="AnswerCorrect"
                required
              >
                <mat-option
                  *ngFor="let option of options"
                  [value]="option.value"
                >
                  {{ option.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row2">
            <mat-form-field class="example-full-width" >
              <textarea
                matInput
                placeholder="Texto Pregunta"
                id="textArea"
                #Texto
                [(ngModel)]="question.text"
                name="Text"
                required
              ></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="question.subject !== 'lectura'">
              <input
                matInput
                placeholder="Enlace de pregunta en YouTube"
                #Enlace
                [(ngModel)]="question.link"
                name="Link"
                required
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="!question.image" id="elementReplace">
              <input
                matInput
                type="File"
                #imagen
                name="Picture"
                accept="image/*"
                (change)="changeListener($event, 'question')"
              />
              <mat-hint>Imagen de la pregunta</mat-hint>
            </mat-form-field>
            <div class="fieldImage">
              <div id="imageQ" class="images">

              </div>
              <button
              class="btnImage"
                mat-button
                (click)="deleteImage('Q')"
                *ngIf="question.image"
              >
                Quitar
              </button>
            </div>
          </div>
          <mat-toolbar class="answersBar"> <span>Datos Respuestas</span> </mat-toolbar>
          <div class="row3">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Respuesta A"
                #Respuesta1
                [(ngModel)]="question.answerA"
                name="AnswerA"
                class="text"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="question.subject !== 'lectura'">
              <input
                matInput
                placeholder="Link respuesta A"
                #Enlace1
                [(ngModel)]="question.linkAnswerA"
                name="link1"
                required
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="!question.imageAnswerA">
              <input
                matInput
                type="File"
                #imagenA
                name="PictureA"
                class="image"
                accept="image/*"
                (change)="changeListener($event, 'imageA')"
              />
              <mat-hint>Imagen de la respuesta A</mat-hint>
            </mat-form-field>
            <div class="fieldImage">
              <div id="imageA" class="images"></div>
              <button
                mat-button
                class="btnImage"
                (click)="deleteImage('A')"
                *ngIf="question.imageAnswerA"
              >
                Quitar Imagen A
              </button>
            </div>
          </div>
          <div class="row4">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Respuesta B"
                #Respuesta2
                [(ngModel)]="question.answerB"
                name="AnswerB"
                class="text"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="question.subject !== 'lectura'">
              <input
                matInput
                placeholder="Link respuesta B"
                #Enlace2
                [(ngModel)]="question.linkAnswerB"
                name="link2"
                required
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="!question.imageAnswerB">
              <input
                matInput
                type="File"
                accept="image/*"
                #imagenB
                name="PictureB"
                class="image"
                (change)="changeListener($event, 'imageB')"
              />
              <mat-hint>Imagen de la respuesta B</mat-hint>
            </mat-form-field >
            <div class="fieldImage">
              <div id="imageB" class="images"></div>
              <button
                mat-button
                class="btnImage"
                (click)="deleteImage('B')"
                *ngIf="question.imageAnswerB"
              >
                Quitar Imagen B
              </button>
            </div>
          </div>
          <div class="row5">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Respuesta C"
                #Respuesta3
                [(ngModel)]="question.answerC"
                name="AnswerC"
                class="text"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="question.subject !== 'lectura'">
              <input
                matInput
                placeholder="Link respuesta C"
                #Enlace3
                [(ngModel)]="question.linkAnswerC"
                name="link3"
                required
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="!question.imageAnswerC">
              <input
                matInput
                type="File"
                accept="image/*"
                #imagenC
                name="PictureC"
                class="image"
                (change)="changeListener($event, 'imageC')"
              />
              <mat-hint>Imagen de la respuesta C</mat-hint>
            </mat-form-field>
            <div class="fieldImage">
              <div id="imageC" class="images"></div>
              <button
                mat-button
                class="btnImage"
                (click)="deleteImage('C')"
                *ngIf="question.imageAnswerC"
              >
                Quitar Imagen C
              </button>
            </div>
          </div>
          <div class="row6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Respuesta D"
                #Respuesta4
                [(ngModel)]="question.answerD"
                name="AnswerD"
                class="text"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="question.subject !== 'lectura'">
              <input
                matInput
                placeholder="Link respuesta D"
                #Enlace4
                [(ngModel)]="question.linkAnswerD"
                name="link4"
                required
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="!question.imageAnswerD">
              <input
                matInput
                type="File"
                #imagenD
                accept="image/*"
                name="PictureD"
                class="image"
                (change)="changeListener($event, 'imageD')"
              />
              <mat-hint>Imagen de la respuesta D</mat-hint>
            </mat-form-field>
            <div class="fieldImage">
              <div id="imageD" class="images"></div>
              <button
                mat-button
                class="btnImage"
                (click)="deleteImage('D')"
                *ngIf="question.imageAnswerD"
              >
                Quitar Imagen D
              </button>
            </div>
          </div>
        </div>
        <div class="btns">
          <button
            mat-raised-button
            class="button"
            id="pbtn"
            [routerLink]="['/admin', '1']"
            routerLinkActive="router-link-active"
            *ngIf="idEdit"
          >
            Cancelar
          </button>
          <button
            mat-raised-button
            color="primary"
            class="button"
            id="send"
            (click)="onSubmit()"
            [disabled]="!questionForm.form.valid"
          >
            {{ idEdit ? "Guardar" : "Agregar" }}
          </button>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>
