.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.main {
  /* width: 60%; */
  /* text-align: center; */
  /* margin: 10px auto 50px auto; */
  flex: 1 0 auto;
  margin-top: 80px;
}
#textArea{
  height: 20px;
}
p{
  font-family: 'Lato';
}
.allRows{
  display: flex;
  flex-direction: column;
}
.row1, .row2, .row3, .row4, .row5, .row6{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
}
.example-full-width{
  width: 40%;
  margin-right: 25px;
  flex: 1;
}
.allColumns{
  display: flex;
  flex-direction: row;
}
.col1, .col2, .col3{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
h1{
  text-align: center;
  font-family: 'Lato';
}
.answersBar{
  height: 60px;
  background-color: #81a4cd;
  width: 50%;
  border-radius: 0 50px 50px 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

.fieldImage{
  margin-right: 50px;
}
.btnImage {
  float: left;
  /* position: absolute; */
  background-color: #3f51b5;
  width: 115px;
  padding-left: 5px;
  }
/* #imgQ, #imgA{
  float: left;

} */

 /* .fieldImage{
  display: inline;
  position: absolute;
} */
/* .itemImage{
  margin-top: 10px;
  margin-left: 20px;
} */
/* .textAnswer > mat-form-field{
  margin-top: 80px;
} */
/* .menu{
  display: inline;
  margin-left: 0px;
  position: relative;
} */
/* .images{
  flex: 1;
} */
 .buttonImageMenu{
  background-color: #3f51b5;
  margin-left: 50px;
  margin-top: 100px;
  width: 115px;
  padding-left: 5px;
}
/*
.answers{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.textAnswer, .imageAnswer{
  display: flex;
  flex-direction: column;
  flex: 1;

}
.answ{
  width: 70%;
}


.images{
  margin-left: 50px;
} */
/* .buttonImage{
  margin-left: 50px;
} */
/* #changeImage{
  width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
label[for="changeImage"] {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #106BA0;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  width: fit-content;
  text-align: center;
  } */

/* #circulo{
  border: 3px solid #555;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
} */
.btns{
  display: flex;
  margin: 50px auto;
  width: 40%;
  margin-bottom: 60px;
}
#pbtn{
  background-color: #DCDCDC;
}
.button{
  margin: auto;
  width: 200px;
}




