.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.main{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
img{
  width: 80px;
  height: 80px;
  margin-top: 15px;
}
h3{
  margin-top: 15px;
  font-family: 'Lato';
}
.card{
  width: 150px;
  height: 200px;
  background:#3e85d1;
  /* background:#81a4cd; */
  /* background:#e88d67; */
  margin:20px;
  text-align: center;
  border-radius: 15%;
  cursor: pointer;
}

