<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
    <div class="card" routerLink="/vocabulary">
      <img src="../../../assets/imagesIcons/vocabulario.svg" />
      <h3>Vocabulario</h3>
    </div>
    <div class="card" routerLink="/tips">
      <img src="../../../assets/imagesIcons/calidad.svg" />
      <h3>Consejos para el Examen</h3>
    </div>
  </div>
  <app-footer></app-footer>
</div>
