<div class="container" id="idContainer" (scroll)="hideInfo($event)">
  <app-navbar></app-navbar>
  <div class="banner">
      <div class="first">
          <div class="text-banner">
              <img class="image-banner" src="../../../assets/logoCompleto.png">
              <p class="text">Hola comunidad sorda, en esta plataforma encontrarán un módulo virtual similar al del ICFES que les permitirá practicar para su presentación.
              </p>
          </div>
      </div>
      <div class="second">
          <a href="#second-part" class="more" id="moreInfo">
            <p>Más Información</p>
            <span class="down"></span>
          </a>
      </div>
    </div>
    <div class="center col-12" id="second-part">
      <!-- <p class="col-12">
        ¿Tienes discapacidad auditiva y pronto presentarás el ICFES?
      </p> -->
      <div class="video-container col-12">
        <div class="video-text">
          <h2>Registro / Iniciar Sesión</h2>
          <p class="text-register">
            ¡Bienvenido!<br/>
            En este vídeo te mostraremos como puedes registrarte para iniciar la preparación del examen de estado Saber 11.
          </p>
          <button
            mat-raised-button
            color="warn"
            class="iniciar"
            routerLink="/register"
          >
            Registrarse
          </button>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WCneqiuc7fk" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="last-container col-12">
      <div class="opacity col-12">
        <h1>¿Qué te brindamos?</h1>
        <div class="card-container">
          <div class="card" id="beneficios">
            <img src="../../../assets/imagesIcons/crecimiento.svg" class="img" />
            <img class="appear" src="../../../assets/gifs/Beneficios.gif" />
            <h3>BENEFICIOS</h3>
              <ul>
              <li>Presentar simulacros con o sin tiempo.</li>
              <li>Intentos ilimitados de los simulacros.</li>
              <li>Vocabulario en LSC usado en el ICFES.</li>
            </ul>
          </div>
          <div class="card">
            <img src="../../../assets/imagesIcons/test.svg" class="img" />
            <img class="appear" src="../../../assets/gifs/SimulacroPruebas.gif" />
            <h3>SIMULACROS DE PRUEBAS</h3>
            <p>
              Simulacros por áreas específicas para que te prepares en las que te representen mayor
              dificultad.
            </p>
          </div>
          <div class="card">
            <img src="../../../assets/imagesIcons/examenIndex.svg" class="img" />
            <img class="appear" src="../../../assets/gifs/SimulacroExamen.gif" />
            <h3>SIMULACROS DE EXAMEN</h3>
            <p>
              Simulacros del examen Saber 11 para que experimentes un entorno similar al examen real.
            </p>
          </div>
        </div>
      </div>
    </div>
  <app-footer></app-footer>
</div>
