*{
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* [class*="col-"] {
      width: 100%;
  } */
.container{
  scroll-behavior: smooth;
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #fbfbfb;
}
.main{
  margin-top:500px;
}

video{
  margin: 0px;
  width: 100%;
}

@media(max-width:705px){
  .video-container{
    flex-direction: column;
  }
  .center{
    height: 160% !important;
  }

}

.video-container{
  font-size: 20px;
  margin-top: 100px;
  display: flex;
}
.video-container > .video-text{
  flex:50%;
  margin: 10px;
}
.text-register{
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  text-align: justify;
}

.video-container > iframe{
  flex:50%;
  margin: 10px;
}

.tittle-banner{
  font-size: 50px;
  font-family: DTLArgoT;
  color: #7d1c79;
}
.text{
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
  width: 40%;
  margin-top: 15%;
  margin-left: 10%;
  font-family: sans-serif;
}
.banner{
  height: 100%;
  background-image: url('../../../assets/barra.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}
.text-banner{
  /* width: 50%; */
  /* margin-right: 100px; */
  display: flex;
  flex-direction: row;
}
.banner-container{
  display: flex;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
}


.image-banner{
  width: 17%;
  margin-top: 120px;
  margin-left: 21%;
  /* width: 100%;
  height: 100%; */
  filter:drop-shadow(5px 5px 5px #222);
}
.barra{
  width: 100%;
  margin-top: -119px;
}
.first{
  display: flex;
  align-items: center;
  justify-content: center;

}

.more{
  scroll-behavior: smooth;
  display: block;
  width: 9%;
  text-align: center;
  position: fixed;
  bottom: 80px;
  left: 80%;
  text-decoration: none;
}

.more .down {
  display: block;
  margin: 12px auto 0;
  width: 24px;
  height: 24px;
  background: url(../../../assets/btn-anchor.svg) center no-repeat;
  background-size: 100%;
  transition: 1.5s;
  animation: pulso 1.5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulso {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.center{
  /* font-size: 35px; */
  text-align: center;
  font-family: 'Lato';
  height: 100%;
  margin-top: -13px;
  background-image: url(../../../assets/fondo.png);
}

.center > p{
  font-size: 40px;
  font-weight: 900;
  color: #442C2E;
  margin-bottom: 0px;
}
.card-container{
  /* text-align: center; */
  justify-content: center;
  margin: 50px auto;
  width: 100%;
  display: flex;
}
.last-container{
  text-align: center;
  background-image: url('../../../assets/student2.jpg');
  /* height: 100%; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opacity{
  /* background: hsla(0, 100%, 90%, 0.7); */
  background-color:rgba(192,192,192,0.5);
  width: 100%;
  height: 100%;
  margin: 0px;
  /* padding-bottom: 30px; */
}

.opacity > h1{
  margin-top: 30px;
  font-weight: 900;
  font-family: 'Lato';
  font-size: 55px;
}
@media(max-width:607px){
  .card-container{
    flex-direction: column;
  }
}
@media(max-width: 1070px) and (min-width: 607px){
  .card{
    height: 520px !important;
  }
}

.card {
  height: 350px;
  color: black;
  background: white;
  border-radius: 10%;
  padding-top: 30px;
  margin: 10px;
  width: 400px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  padding: 10px;
  /* visibility: hidden; */
}
/* Iconos cards */
.icon{
  width: 50px;
  height: 50px;
  background: #428bca;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.img{
  margin: auto;
  width: 80px;
  height: 80px;
  visibility: visible;
  display: block;
}

/* Botón iniciar */
.iniciar{
  padding: 5px 60px 5px 60px;
  margin-top:0px;
  position: static;

}
.appear{
  visibility: hidden;
  position: absolute;
  width: 150px;
  height: 170px;
  margin: auto;
  transform: translate(-50%, -90%);
}
.card:hover .appear{
  visibility: visible;
  transition-delay: .5s;
}



