<div class="container">
  <app-navbar-user [rol]="'admin'"></app-navbar-user>
  <div class="main">
    <div class="btnRegresar">
      <button mat-fab color="primary" class="regresar"
      [routerLink]="['/admin', '2']"><mat-icon>keyboard_backspace</mat-icon></button>
    </div>
    <button mat-raised-button color="primary" (click)="load()" [matBadge]="numberVideosFalta" matBadgeColor="warn" [disabled]="!porSubir">Cargar Videos</button>
    <a id="anchorID" target="_blank"></a>
    <div class="videos" id="videosSubidos">
      <p *ngFor="let vid of videosSubidos"> <b>Fecha:</b> {{vid.fecha}} <br/>
        <b>Link:</b> {{vid.videoUploaded}}</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
