.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.main{
  /* display: flex;
  flex-direction: row; */
  flex: 1 0 auto;
  margin:80px auto 10px 20px;
}
p{
  font-family: 'Lato';
}
.regresar{
  margin-top: 10px;
  margin-bottom: 20px;
}
