.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.center{
  width: 100%;
  margin: 65px auto;
  margin-bottom: 40px;
  flex: 1 0 auto;

}
table {
  width: 100%;
}
.addButtonContainer{
  padding: 20px;
}
.addButtonContainer button{
  margin: 20px;
}

