<div class="container" *ngIf="identity !== null && type === 1">
  <app-navbar-user [rol] = "'admin'"></app-navbar-user>
  <div class="center">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [(selectedIndex)]="activeTab">
      <!-- Pestaña Pruebas -->
      <mat-tab label="Simulacros">
          <app-table-tests></app-table-tests>
        </mat-tab>
      <!-- Pestaña Preguntas -->
      <mat-tab label="Preguntas">
        <app-table-questions></app-table-questions>
      </mat-tab>
      <!-- Pestaña Usuarios -->
      <mat-tab label="Usuarios">
        <app-table-users></app-table-users>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-footer></app-footer>
</div>
