<div class="container">
  <app-navbar-user [rol]="'admin'"></app-navbar-user>
  <div class="main" >
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
          <!-- Pestaña Pruebas -->
          <mat-tab label="Simulacros de Examen">
              <app-table-averages></app-table-averages>
          </mat-tab>
          <!-- Pestaña Preguntas -->
          <mat-tab label="Simulacros de Pruebas">
            <app-table-averages-pruebas></app-table-averages-pruebas>
          </mat-tab>
        </mat-tab-group>
  </div>
  <app-footer></app-footer>
</div>
