.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.main{
  margin-top:100px;
  flex: 1 0 auto;
}
.regresar{
  margin: 0px auto 0px 30px;
  /* margin-top: 10px;
  margin-left: 20px; */
  /* background-color:  */
}
.main > app-table-results{
  width: 100%;
}
h1{
  text-align: center;
  font-family: 'Lato';
}
h2,h3{
  font-family: 'Lato';
}
.simulacro, .prueba{
  margin-bottom: 15px;
}
