<div class="container">
<app-navbar-user [rol]="'student'"></app-navbar-user>
<div class="main">
  <div class="btnRegresar">
    <button mat-fab color="primary" class="regresar" (click)= "goBack()"
    ><mat-icon>keyboard_backspace</mat-icon></button>
  </div>
  <div class="prueba" *ngIf="test.type === 'prueba'">
  <h1>Simulacro {{test.subType | titlecase}} </h1><br/>
  <h2>Puntaje Total: {{test.session1Area1Score}}%</h2>
  <app-table-results [type]="'prueba'" [intento]="intento"></app-table-results>
</div>
<div class="simulacro" *ngIf="test.type === 'simulacro'">
  <h1>Simulacro {{test.subType | titlecase}} </h1><br/>
  <h2>Puntaje Total: {{test.testScore}}%</h2>
  <h3>Prueba de {{s1a1 | titlecase}}: {{test.session1Area1Score}}% </h3>
  <!-- <h3>Puntaje: {{test.session1Area1Score}}%</h3> -->
  <app-table-results [type]="'s1a1'" [intento]="intento"></app-table-results>
  <h3>Prueba de {{s1a2 | titlecase}}: {{test.session1Area2Score}}%</h3>
  <!-- <h3>Puntaje: {{test.session1Area2Score}}%</h3> -->
  <app-table-results [type]="'s1a2'" [intento]="intento"></app-table-results>
  <h3>Prueba de {{s2a1 | titlecase}}: {{test.session2Area1Score}}% </h3>
  <!-- <h3>Puntaje: {{test.session2Area1Score}}%</h3> -->
  <app-table-results [type]="'s2a1'" [intento]="intento"></app-table-results>
  <h3>Prueba de {{s2a2 | titlecase}}: Puntaje: {{test.session2Area2Score}}% </h3>
  <!-- <h3>Puntaje: {{test.session2Area2Score}}%</h3> -->
  <app-table-results [type]="'s2a2'" [intento]="intento"></app-table-results>
</div>
</div>
<app-footer></app-footer>
</div>
