<mat-toolbar>
  <button mat-button routerLink="" class="block">
    <mat-icon [ngStyle]="{'padding':'10px'}">home</mat-icon>
    <span>Inicio</span>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/register" id="desappear" class="block">
    <mat-icon>person_add</mat-icon>
    <span>Registrarse</span>
    <img src="../../../assets/gifs/Registrarse .gif" class="appear">
  </button>
  <button mat-button routerLink="/login" id="desappear2" class="block">
    <mat-icon>person</mat-icon>
    <span>Iniciar Sesión</span>
    <img src="../../../assets/gifs/IniciarSesion.gif" class="appear">
  </button>
  <div id="reorder">
    <button mat-button [matMenuTriggerFor]="menuReorder"><mat-icon>reorder</mat-icon></button>
    <mat-menu #menuReorder="matMenu">
        <button mat-menu-item routerLink="/register">
          <mat-icon>person_add</mat-icon>
          <span>Registrarse</span>
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon>person</mat-icon>
          <span>Iniciar Sesión</span>
        </button>
      </mat-menu>
  </div>
</mat-toolbar>
