.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #fcd25c;
  color: #442C2E;
  position: fixed;
  z-index: 2;
}
#reorder{
  display: none;
}
@media (max-width:360px){
  #reorder{
    display: block;
  }
  #desappear{
    display: none;
  }
  #desappear2{
    display: none;
  }
}
@media (max-width:400px){
  mat-toolbar{
    height: 50px;
    z-index: 2;
  }

  .block{
    display: block;
    float: left;
  }
  .spacer{
    display: block;
  }

}
.appear{
  visibility: hidden;
  position: absolute;
  width: 150px;
  height: 170px;
  margin: auto;
  transform: translate(-85%, -20%);
  z-index: 2;
}
.block:hover .appear{
  visibility: visible;
  transition-delay: .5s;
}
