<div class="container">
  <app-navbar-user [rol]="'admin'"></app-navbar-user>
  <div class="main">
    <h1>{{ idEdit ? 'Editar Simulacro' : 'Agregar Simulacro'}}</h1>
    <mat-toolbar class="questionsBar">
      <span>Datos del Simulacro</span>
    </mat-toolbar>
    <form class="form" #testForm="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Título" #titulo [(ngModel)]="test.title" name="Title" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripción" #descripcion id="desc" [(ngModel)]="test.description" name="Description" required></textarea>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipo" #tipo [(ngModel)]="test.type" name="Type"  required>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value" (click) ="cleanArray('todo')">
            {{ tipo.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="test.type === 'prueba' || test.type === null">
        <mat-select placeholder="Asignatura" #subTipo [(ngModel)]="test.subType" (click) ="cleanArray('solo')" name="subType" required>
          <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.value" (click)="getQuestionsType(test.subType)">
            {{ asignatura.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="test.type === 'simulacro'">
        <mat-select placeholder="Duración" #subTipo (click)="cleanArray('todo')" [(ngModel)]="test.subType" name="subType" required>
          <mat-option *ngFor="let duracion of duraciones" [value]="duracion.value">
            {{ duracion.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="sesion" *ngIf="test.type === 'simulacro'">
        <mat-toolbar class="questionsBar">
          <span>Primera Sesión</span>
        </mat-toolbar>
        <h3>Primera área</h3>
        <div id="messageWarn11">

        </div>
        <mat-form-field class="example-full-width top">
          <mat-select placeholder="Escoja una área" #areaSes [(ngModel)]="area11" name="areaS" (ngModelChange) = "cleanArray('11')" required>
            <mat-option value="naturales" (click)="getQuestionsType(area11)">Ciencias Naturales</mat-option>
            <mat-option value="sociales" (click)="getQuestionsType(area11)">Sociales y ciudadanas</mat-option>
            <mat-option value="matematicas" (click)="getQuestionsType(area11)">Matemáticas</mat-option>
            <mat-option value="lectura" (click)="getQuestionsType(area11)">Lectura Crítica</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="test.type === 'simulacro' && area11 === 'naturales'" class="questions">
          <mat-checkbox *ngFor="let question of quesNaturales" (change)="$event ? selectionSesion1area1.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion1area1.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text | slice:0:200}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div *ngIf="test.type === 'simulacro' && area11 === 'sociales'" class="questions">
          <mat-checkbox *ngFor="let question of quesSociales" (change)="$event ? selectionSesion1area1.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion1area1.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div *ngIf="test.type === 'simulacro' && area11 === 'lectura'" class="questions">
          <mat-checkbox *ngFor="let question of quesLectura" (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion1area1.toggle(question) : null" [checked]="selectionSesion1area1.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div *ngIf="test.type === 'simulacro' && area11 === 'matematicas'" class="questions">
          <mat-checkbox *ngFor="let question of quesMatematicas" (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion1area1.toggle(question) : null" [checked]="selectionSesion1area1.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <hr class="divider"/>
        <h3>Segunda área</h3>
        <div id="messageWarn21">

        </div>
        <mat-form-field class="example-full-width top" *ngIf="area11 !== undefined">
          <mat-select placeholder="Escoja la segunda área" #areaSesionn [(ngModel)]="area21" name="areaSen" (ngModelChange) = "cleanArray('12')" required>
            <mat-option value="naturales" *ngIf="area11 !== 'naturales'" (click)="getQuestionsType(area21)">Ciencias Naturales</mat-option>
            <mat-option value="sociales" *ngIf="area11 !== 'sociales'" (click)="getQuestionsType(area21)">Sociales y ciudadanas</mat-option>
            <mat-option value="matematicas" *ngIf="area11 !== 'matematicas'" (click)="getQuestionsType(area21)">Matemáticas</mat-option>
            <mat-option value="lectura" *ngIf="area11 !== 'lectura'" (click)="getQuestionsType(area21)">Lectura Crítica</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="test.type === 'simulacro' && area21 === 'naturales'" class="questions">
          <mat-checkbox *ngFor="let question of quesNaturales" (change)="$event ? selectionSesion1area2.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion1area2.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div *ngIf="test.type === 'simulacro' && area21 === 'sociales'" class="questions">
          <mat-checkbox *ngFor="let question of quesSociales" (change)="$event ? selectionSesion1area2.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion1area2.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div *ngIf="test.type === 'simulacro' && area21 === 'lectura'" class="questions">
          <mat-checkbox *ngFor="let question of quesLectura" (change)="$event ? selectionSesion1area2.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion1area2.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div *ngIf="test.type === 'simulacro' && area21 === 'matematicas'" class="questions">
          <mat-checkbox *ngFor="let question of quesMatematicas" (change)="$event ? selectionSesion1area2.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion1area2.isSelected(question)"
            class="column">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="text-card">{{question.text}}</p>
              </mat-card-content>
              <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
            </mat-card>
          </mat-checkbox>
        </div>
        <div class="secondSession" *ngIf="area11 !== undefined && area21 !== undefined">
            <mat-toolbar class="questionsBar">
                <span>Segunda Sesión</span>
              </mat-toolbar>
              <h3>Primera área</h3>
              <div id="messageWarn12">

              </div>
              <mat-form-field class="example-full-width top">
                <mat-select placeholder="Escoja una área" #areaSess [(ngModel)]="area12" (ngModelChange) = "cleanArray('21')" name="areaSs" required>
                  <mat-option value="naturales" *ngIf="area11 !== 'naturales' && area21 !== 'naturales'" (click)="getQuestionsType(area12)">Ciencias Naturales</mat-option>
                  <mat-option value="sociales" *ngIf="area11 !== 'sociales' && area21 !== 'sociales'" (click)="getQuestionsType(area12)">Sociales y ciudadanas</mat-option>
                  <mat-option value="matematicas" *ngIf="area11 !== 'matematicas' && area21 !== 'matematicas'" (click)="getQuestionsType(area12)">Matemáticas</mat-option>
                  <mat-option value="lectura" *ngIf="area11 !== 'lectura' && area21 !== 'lectura'" (click)="getQuestionsType(area12)">Lectura Crítica</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="test.type === 'simulacro' && area12 === 'naturales'" class="questions">
                <mat-checkbox *ngFor="let question of quesNaturales" (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion2area1.toggle(question) : null" [checked]="selectionSesion2area1.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <div *ngIf="test.type === 'simulacro' && area12 === 'sociales'" class="questions">
                <mat-checkbox *ngFor="let question of quesSociales" (change)="$event ? selectionSesion2area1.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion2area1.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <div *ngIf="test.type === 'simulacro' && area12 === 'lectura'" class="questions">
                <mat-checkbox *ngFor="let question of quesLectura" (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion2area1.toggle(question) : null" [checked]="selectionSesion2area1.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <div *ngIf="test.type === 'simulacro' && area12 === 'matematicas'" class="questions">
                <mat-checkbox id="check" type= "checkbox" *ngFor="let question of quesMatematicas" (change)="$event ? selectionSesion2area1.toggle(question) : null" (click)="getNumberQuestionsExamen()" [checked]="selectionSesion2area1.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <hr class="divider"/>
              <h3>Segunda área</h3>
              <div id="messageWarn22">

              </div>
              <mat-form-field class="example-full-width top" >
                <mat-select placeholder="Escoja la segunda área" #areaSesion [(ngModel)]="area22" (ngModelChange) = "cleanArray('22')"name="areaSe" selected  required>
                  <mat-option value="naturales" *ngIf="area11 !== 'naturales' && area21 !== 'naturales' && area12 !== 'naturales'" (click)="getQuestionsType(area22)">Ciencias Naturales</mat-option>
                  <mat-option value="sociales" *ngIf="area11 !== 'sociales' && area21 !== 'sociales' && area12 !== 'sociales'" (click)="getQuestionsType(area22)">Sociales y ciudadanas</mat-option>
                  <mat-option value="matematicas" *ngIf="area11 !== 'matematicas' && area21 !== 'matematicas' && area12 !== 'matematicas'" (click)="getQuestionsType(area22)">Matemáticas</mat-option>
                  <mat-option value="lectura" *ngIf="area11 !== 'lectura' && area21 !== 'lectura' && area12 !== 'lectura'" (click)="getQuestionsType(area22)">Lectura Crítica</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="test.type === 'simulacro' && area22 === 'naturales'" class="questions">
                <mat-checkbox *ngFor="let question of quesNaturales" (click)="getNumberQuestionsExamen()" (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion2area2.toggle(question) : null" [checked]="selectionSesion2area2.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <div *ngIf="test.type === 'simulacro' && area22 === 'sociales'" class="questions">
                <mat-checkbox *ngFor="let question of quesSociales" (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion2area2.toggle(question) : null" [checked]="selectionSesion2area2.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <div *ngIf="test.type === 'simulacro' && area22 === 'lectura'" class="questions">
                <mat-checkbox *ngFor="let question of quesLectura"  (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion2area2.toggle(question) : null" [checked]="selectionSesion2area2.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
              <div *ngIf="test.type === 'simulacro' && area22 === 'matematicas'" class="questions">
                <mat-checkbox *ngFor="let question of quesMatematicas"  (click)="getNumberQuestionsExamen()" (change)="$event ? selectionSesion2area2.toggle(question) : null" [checked]="selectionSesion2area2.isSelected(question)"
                  class="column">
                  <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
                      <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="text-card">{{question.text}}</p>
                    </mat-card-content>
                    <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
                  </mat-card>
                </mat-checkbox>
              </div>
            </div>
        </div>
      <mat-toolbar class="questionsBar" *ngIf="test.type === 'prueba'">
        <mat-toolbar-row>
          <span>Lista de preguntas</span>
        </mat-toolbar-row>
        <mat-toolbar-row class="row2">
          <span>Seleccione las preguntas que desea agregar a la prueba</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div id="messageWarn">

      </div>
      <div *ngIf="test.type === 'prueba'" class="questions">
        <mat-checkbox *ngFor="let question of questions" (click)="getNumberQuestions()" (change)="$event ? selection.toggle(question) : null" [checked]="selection.isSelected(question)">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{question.subject | titlecase}}</mat-card-title>
              <mat-card-subtitle>{{question.subSubject | titlecase}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="text-card">{{question.text | slice:0:600}} ...</p>
            </mat-card-content>
            <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div>
          </mat-card>
        </mat-checkbox>
      </div>
      <div class="btns">
        <button mat-raised-button class="button" id="pbtn" [routerLink]="['/admin', '0']" *ngIf="idEdit">Cancelar</button>
        <button mat-raised-button color="primary" class="button" (click)= "onSubmit()">{{ idEdit ? 'Guardar' : 'Agregar'}}</button>
        <!-- <button mat-raised-button color="primary" *ngIf="test.type === 'simulacro'" class="button" (click)= "onSubmit()" [disabled]="dsExamen">{{ idEdit ? 'Guardar' : 'Agregar'}}</button> -->
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
