.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.main {
  /* text-align: center; */
  margin: 80px auto;
}
h1{
  text-align: center;
  font-family: 'Raleway';
}
.form{
  margin-top: 10px;
}
.example-full-width {
  width: 40%;
  margin-left: 50px;
}
.divider{
  margin-top: 20px;
}
h3{
  font-family: 'Lato';
  margin-left: 15px;
}
.questionsBar{
  height: 60px;
  margin-top: 30px;
}
.questionsBar .row2{
  font-size: 15px;
}
.questionsBar{
  background-color: #81a4cd;
  width: 50%;
  border-radius: 0 50px 50px 0;
}
.btonVer{
  z-index: 8;
  color: #3f51b5 !important;
}
mat-checkbox{
  display: block;
  margin-top: 20px;
  margin-left: 15px;
  z-index: 0;
}

.sesion > mat-checkbox{
  display: inline;
  margin-right: 20px;
}
.sesion > p{
  font-family: 'Lato';
  font-size: 20px;
  text-align: left;
  margin-left: 20%;
}
.card{
  width: 500px;
}
.text-card{
  text-align: left;
  content: '\A';
  white-space: pre-wrap;
  /* column-count: 2; */
  text-align: justify;
}
.warn{
  margin-top: 10px;
  width: 50%;
  height: 50px;
  background-color: #fd9726;
  color: black;
  /* font-size: 15px; */
  font-family: 'Lato';
  display: flex;
}
#messageWarn, #messageWarn11, #messageWarn12, #messageWarn21, #messageWarn22{
  margin-top: 10px;
  width: 50%;
  height: 50px;
  font-family: 'Lato';
}
.warn > p, mat-icon {
  margin: auto !important;
}
.warn > P{
  flex: 8;
}
.warn > mat-icon{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
#desc{
  height: 80px;
}
.btns{
  display: flex;
  margin: 50px auto;
  width: 40%;
}
#pbtn{
  background-color: #DCDCDC;
}
.button{
  margin: auto;
  width: 200px;
}
.questions{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* padding: 0 4px; */
}
.column{
  flex: 40%;
  /* max-width: 30%; */
  /* padding: 0 4px; */
}
.column > mat-checkbox{
  vertical-align: middle;
}
.top{
  margin-top: 20px;
}
