<div class="content">
    <div mat-dialog-content>
        <mat-toolbar>
          <p>Datos Pregunta</p>
        </mat-toolbar>
        <div class="cont">
          <span><b>Área:</b> {{question.subject | titlecase}}</span><br/>
          <span><b>Tópico:</b> {{question.subSubject | titlecase}}</span><br/>
          <!-- <div class="links" *ngIf="question.subject !== 'lectura'">
              <span><b>Enlace Pregunta:</b> {{question.link}}</span><br/>
              <span><b>Enlace Respuesta A:</b> {{question.linkAnswerA}}</span><br/>
              <span><b>Enlace Respuesta B:</b> {{question.linkAnswerB}}</span><br/>
              <span><b>Enlace Respuesta C:</b> {{question.linkAnswerC}}</span><br/>
              <span><b>Enlace Respuesta D:</b> {{question.linkAnswerD}}</span><br/>
          </div> -->
          <span><b>Texto:</b> {{question.text}}</span><br/>
          <div id="imageQ"></div>
          <mat-toolbar>
            <p>Respuestas</p>
          </mat-toolbar>
          <span><b>Respuesta Correcta:</b> {{question.correctAnswer}}</span><br/>
          <span><b>Respuesta A:</b> {{question.answerA}}</span>
          <div id="imageA"></div>
          <span><b>Respuesta B:</b> {{question.answerB}}</span>
          <div id="imageB"></div>
          <span><b>Respuesta C:</b> {{question.answerC}}</span>
          <div id="imageC"></div>
          <span><b>Respuesta D:</b> {{question.answerD}}</span>
          <div id="imageD"></div>
        </div>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button cdkFocusInitial color="primary" (click)="onNoClick()"> <mat-icon>clear</mat-icon>Cerrar</button>
      </div>
</div>

<style>
.content{
  font-family: 'Lato';
}
</style>

