.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.main{
  /* display: flex;
  flex-direction: row; */
  flex: 1 0 auto;
  flex-wrap: wrap;
  margin-top:100px;
  margin-left: 20px;
  font-family: 'Lato';
  margin-bottom: 50px;
}
.card{
  margin-top:10px;
  width: 80%;
  white-space: pre-wrap;
}
.regresar{
  margin: 0px auto 0px 30px;
}
