<div class="container">
  <app-navbar-user [rol]="'admin'"></app-navbar-user>
  <div class="main" >
    <div class="btnRegresar">
      <button mat-fab color="primary" class="regresar" routerLink="/averages"
      ><mat-icon>keyboard_backspace</mat-icon></button>
    </div>
    <div class="dataQuestions" *ngFor="let q of dataQuestions; let i =  index">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title><b>Pregunta: {{i+1}}</b></mat-card-title>
            <mat-card-title><b>Pregunta de {{q.subject | titlecase}}</b></mat-card-title>
            <mat-card-subtitle><b>Texto:</b> {{q.text}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <p>Porcentaje estudiantes respondieron correctamente: {{q.porCorrectas}}% </p>
              <p>No. estudiantes respondieron correctamente: {{q.correctas}} </p>
              <p>No. estudiantes respondieron Incorrectamente: {{q.incorrectas}} </p>
              <p>No. estudiantes no respondieron: {{q.noRespondidas? q.noRespondidas: 0}} </p>
          </mat-card-content>
          <!-- <div (click)="openDialogInformation(question)" class="btnVer" id="btnID"><b>Ver más</b></div> -->
        </mat-card>
      <!-- <h3> Pregunta: {{i+1}} </h3>
      <p><b>Texto:</b> {{q.text}}</p>
      <p><b>% estudiantes respondieron correctamente:</b> {{q.porCorrectas}}% </p>
      <p><b>No. estudiantes respondieron correctamente:</b> {{q.correctas}} </p>
      <p><b>No. estudiantes respondieron Incorrectamente:</b> {{q.incorrectas}} </p>
      <p><b>No. estudiantes no respondieron:</b> {{q.noRespondidas}} </p> -->
    </div>
  </div>
  <app-footer></app-footer>
</div>
