<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- question Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let question" (click)="routingQuestion(question.id, question.session)">Pregunta {{ question.position }}</td>
    </ng-container>

    <!-- correction Column -->
    <ng-container matColumnDef="correction">
      <th mat-header-cell *matHeaderCellDef>
        Respuesta
      </th>
      <td mat-cell *matCellDef="let question" (click)="routingQuestion(question.id, question.session)">
        <mat-icon id="done" *ngIf="question.correction">done_outline</mat-icon>
        <mat-icon id="clear" *ngIf="!question.correction">clear</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
