<div class="container">
  <app-navbar></app-navbar>
  <div class="center">
    <div *ngIf="type === 'email'" class="infor">
      <h1>Restablecimiento de Contraseña</h1>
      <form #emailForm="ngForm" [formGroup]="mailForm" (ngSubmit)="sendData()">
        <mat-toolbar class="info">Ingrese su correo electrónico</mat-toolbar>
        <mat-form-field class="example-full-width2">
          <mat-icon matPrefix>email</mat-icon>
          <input matInput placeholder="Correo Electrónico" formControlName="email" [(ngModel)]="email">
          <mat-error *ngIf="mailForm.get('email').hasError('pattern') && !mailForm.get('email').hasError('required')">
            Ingrese un correo electrónico válido. Por ejemplo: usuario@gmail.com
          </mat-error>
          <mat-error *ngIf="mailForm.get('email').hasError('required')">
            Correo electrónico es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" class="botonBlock" [disabled]="!emailForm.form.valid">Aceptar</button>
      </form>
    </div>
    <div *ngIf="type === 'password'" class="infor">
      <h1>Restablecimiento de Contraseña</h1>
      <form #passwordForm="ngForm" [formGroup]="passForm" (ngSubmit)="sendData()">
        <mat-toolbar class="info">Ingrese su nueva contraseña</mat-toolbar>
        <mat-form-field class="example-full-width2">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input matInput placeholder="Contraseña" type="password" formControlName="password" [(ngModel)]="password" required>
          <mat-error *ngIf="passForm.get('password').hasError('minlength')">Mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="passForm.get('password').hasError('required')">
            Contraseña es
            <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width2">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input matInput placeholder="Confirmar Contraseña" type="password" formControlName="confirmation" [(ngModel)]="confirmation"
            required>
          <mat-hint *ngIf="passForm.hasError('notsame')">Las contraseñas deben ser iguales</mat-hint>
          <mat-error *ngIf="passForm.get('confirmation').hasError('required')">
            Confirmación de contraseña es
            <strong>requerida</strong>
          </mat-error>
          <!-- <mat-hint *ngIf="!passForm.hasError('notsame')">
            <mat-icon class="check">check_circle</mat-icon>Las contraseñas son iguales
          </mat-hint> -->
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" class="botonBlock" [disabled]="!passwordForm.form.valid">Aceptar</button>
      </form>
    </div>
    <div class="exits" *ngIf="type === 'exits'">
      <h1>Revisa tu correo electrónico</h1>
      <br/>
      <p>Hemos enviado un correo electrónico al correo ingresado. Haga clic en el enlace dentro del correo electrónico para
        restablecer su contraseña.</p>
      <p>Si no ve el correo electrónico en su bandeja de entrada, revise otros lugares donde podría estar, como sus carpetas
        de correo no deseado, sociales u otras</p>
    </div>
    <div class="exits" *ngIf="type === 'change'">
      <h1>Cambio de contraseña exitoso!</h1>
      <br/>
      <p>Tu contraseña se ha cambiado con exito.</p>
      <a routerLink="/login">Iniciar Sesión</a>
    </div>
  </div>
  <app-footer></app-footer>
</div>