form{
  margin: 0px auto;
  margin-top: 3%;
  text-align: center;
}

.example-full-width2 {
  margin-top: 1%;
  width: 30%;
}
.example-full-width2 mat-icon{
  margin-right: 10px;
}

.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.center{
  margin: 5% auto;
  text-align: center;
  margin-bottom: 20px;
}

.info{
  width: 30%;
  margin: auto;
}
.infor{
  margin-top: 150px;
}
.exits{
  /* margin-top: 150px; */
  margin: 150px auto;
  text-align: justify;
  font-family: 'Lato';
  width: 50%;
}
.botonBlock{
  margin-top: 20px;
}
