html, body{
  min-width: 100%;
  height:100%;
  width: 100%;
  margin:0;
  padding:0;
}
.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
img{
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.title{
  margin-left: 15px;
  display: flex;
  font-family: 'Lato';
}
table{
  margin-top: 15px;
  margin-left: 50px;
  width: 80%;
}
.main{
  margin-top: 70px;
  text-align: center;
  margin-bottom: 40px;
}
.mat-header-cell {
  text-align: center;
}
.session{
  margin-top: 15px;
}
.button-start{
  margin-top: 10px;
  margin-left: 60%;
}
.timesButtons{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  width: 80%;
}
.timesButtons > button{
  width: 30%;
  margin-top: 10px;
  /* margin-left: 20%; */
}
.timesButtons > #first-button{
  margin-left: 40%;
  margin-right: 10px;
}
