<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
    <!-- <video
      src="../../../assets/videos/banner.mp4"
      width="600px"
      height="400"
      autoplay
    ></video> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qeI5Lk3HSS8" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen *ngIf= "test?.type === 'prueba'"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oGrb2Vf6wYE" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen *ngIf= "test?.type === 'simulacro'"></iframe>
    <div class="session">
      <div class="title">
        <img src="../../../assets/imagesIcons/prueba.svg" />
        <h2 *ngIf="test?.type === 'simulacro'">Primera Sesión</h2>
        <h2 *ngIf="test?.type === 'prueba'">Simulacro de {{type}}</h2>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- test Column -->
        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef><b>Prueba</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.test | titlecase}}
          </td>
        </ng-container>

        <!-- numberQues Column -->
        <ng-container matColumnDef="numberQues">
          <th mat-header-cell *matHeaderCellDef><b>Número de preguntas</b></th>
          <td mat-cell *matCellDef="let element">{{ element.numberQues }}</td>
        </ng-container>

        <!-- time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef><b>Tiempo</b></th>
          <td mat-cell *matCellDef="let element">{{ element.time }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <button mat-raised-button color="primary" *ngIf="test?.type === 'simulacro'" class="button-start" (click)="startTest('1')" [disabled]= "start2">Iniciar</button>
      <div class="timesButtons" *ngIf="test?.type === 'prueba'">
        <button mat-raised-button color="primary" id="first-button" (click)="startTest('1c')">Iniciar con tiempo <mat-icon>alarm</mat-icon> </button>
        <button mat-raised-button color="primary" id="second-button" (click)="startTest('1s')">Iniciar sin tiempo <mat-icon>alarm_off</mat-icon> </button>
      </div>
    </div>
    <div class="session" *ngIf="test?.type === 'simulacro'">
      <div class="title">
        <img src="../../../assets/imagesIcons/prueba.svg" />
        <h2>Segunda Sesión</h2>
      </div>
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
        <!-- test Column -->
        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef><b>Prueba</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.test | titlecase }}
          </td>
        </ng-container>

        <!-- numberQues Column -->
        <ng-container matColumnDef="numberQues">
          <th mat-header-cell *matHeaderCellDef><b>Número de preguntas</b></th>
          <td mat-cell *matCellDef="let element">{{ element.numberQues }}</td>
        </ng-container>

        <!-- time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef><b>Tiempo</b></th>
          <td mat-cell *matCellDef="let element">{{ element.time }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <button mat-raised-button color="primary" class="button-start" (click)="startTest('2')" [disabled]= "start">Iniciar</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
