<div class="container">
  <app-navbar></app-navbar>
  <div class="main">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JfujFexJ2GU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="text">
      <h1>Iniciar Sesión</h1>
      <div class="buttons-container">
        <!-- <button mat-raised-button id="btnFacebook" (click)="socialSignIn('facebook')">
          <img src="../../../assets/imagesIcons/facebook.svg" class="img" />
          <span>  Entrar con Facebook</span>
        </button> -->
        <button mat-raised-button id="btnGoogle" (click)="socialSignIn('google')">
          <img src="../../../assets/imagesIcons/google-plus.svg" class="img" />
          <span>  Entrar con Google</span>
        </button>
      </div>
      <div class="divider-container">
        <mat-divider></mat-divider>
        <p>O por Correo Electrónico</p>
        <mat-divider></mat-divider>
      </div>
      <form class="form" (ngSubmit)="onSubmit();" #loginForm="ngForm" [formGroup]="logForm">
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>email</mat-icon>
          <input matInput placeholder="Correo Electrónico" #correo [(ngModel)]="loginUser.email" name="Name"
            formControlName="email" required>
          <mat-error *ngIf="logForm.get('email').hasError('required')">El correo electrónico es <strong>requerido</strong></mat-error>
          <mat-error *ngIf="logForm.get('email').hasError('pattern')">Ingrese un correo electrónico válido. Por ejemplo:
            usuario@gmail.com</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input matInput type="password" placeholder="Contraseña" #contrasena [(ngModel)]="loginUser.password"
            formControlName="password" name="Contrasena" required>
          <mat-error *ngIf="logForm.get('password').hasError('required')">La contraseña es <strong>requerida</strong></mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" class="botonBlock" [disabled]="!loginForm.form.valid">Ingresar</button>
        <br /><br />
        <a [routerLink]="(['/recover', 'email'])" id="link">¿Olvidaste tu contraseña?</a>
        <br />
        <a routerLink="/register" id="link">¿No tienes una cuenta? Registrate aquí</a>
      </form>

    </div>
  </div>
  <app-footer></app-footer>
</div>
