html,body{
  min-width: 100%;
}
.example-full-width mat-icon{
  margin-right: 10px;
}
.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.main {
  /* width: 60%;
  text-align: center;
  margin: 80px auto; */
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
}
iframe{
  /* flex: 1; */
  margin: auto;
  margin-left: 30px;
}
.text{
  text-align: center;
  margin: auto;
  flex: 1;
  margin-left: 30px;
}
.example-full-width {
  display: inline-block;
  width: 70%;
}
.divider-container{
  display: flex;
  justify-content: center;
}
.divider-container > mat-divider{
  width: 25%;
  margin: 25px;
}
.buttons-container {
  display: flex;
  justify-content: center;
}
.buttons-container > button{
  margin: 0px 10px 5px 10px;
  padding: 10px;
}
/* Formulario iniciar sesion*/
.form {
  margin-top: 0px;
  font-family: 'Lato';
  /* background-color: red; */
}

/* Enlace para olvidaste contraseña */
#link{
  text-decoration: none;
}

#link:hover{
  color: orange;
}
.botonBlock{
  padding-left: 50px;
  padding-right: 50px;
}
mat-toolbar{
  background-color: #fcd25c;
  color: #442C2E;
}
.positionSnackBar{
  background: red;
}
.img{
  width: 40px;
  height: 40px;
}
#btnGoogle{
  background-color: #dd4b39;
  color: white;
}
#btnFacebook{
  background-color: #3b5998;
  color:white;
}
