<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="center">
    <mat-toolbar *ngIf="typeEnd==='end'" id="good">
      <mat-icon>check_circle</mat-icon>
      <p>Felicitaciones! Finalizó correctamente su prueba.</p>
    </mat-toolbar>
    <mat-toolbar *ngIf="typeEnd==='expired'" id="bad">
      <mat-icon>mood_bad</mat-icon>
      <p>Lo sentimos, el tiempo ha finalizado!</p>
    </mat-toolbar>
    <button mat-raised-button id="sep" color="primary" (click)= "updateDataUser(identity._id, token)">Ver resultados</button>
    <button mat-raised-button color="primary" routerLink="/suggestions/back">Enviar Sugerencia</button>
  </div>
  <app-footer></app-footer>
</div>
