.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.center > #good{
  margin: 50px auto;
  width: 50%;
  text-align: center;
  background-color: #ace0ac;
  color: green;
}
.center > #bad{
  margin: 50px auto;
  width: 50%;
  text-align: center;
  background-color: #EF9A9A;
  color: red;
}
.center{
  margin-top:100px;
  flex: 1 0 auto;
  text-align: center;
}
#sep{
  margin-right: 10px;
}

