<div class="container">
  <app-navbar></app-navbar>
  <mat-toolbar color="warn" class="center">
    <mat-toolbar-row class="image" color="primary">
      <img src="../../../assets/icons/sad2.svg" class="img">
    </mat-toolbar-row>
    <mat-toolbar-row class="text" color="warn">
      <span>ERROR 404</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-footer></app-footer>
</div>
