.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.center {
  margin: 60px auto;
  height: 100%;
}
.image{
  height: 50%
}
.text{
  height: 50%;
}
.img {
  margin: auto;
  width: 200px;
  height: 200px;
}
.text span{
  margin-top: 0px !important;
  margin: auto;
  font-size: 100px;
}

