.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.content{
  flex: 1 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
}
.main{
  display: flex;
  flex-direction: row;
}
.regresar{
  margin: 0px auto 10px 30px;
  /* margin-top: 10px;
  margin-left: 20px; */
  /* background-color:  */
}
.explanation{
  flex: 1;
  margin-left: 20px;
  /* margin-right: 20px; */
}
.explanation > iframe{
  margin: auto;
}
.input{
  flex: 1;
}
mat-form-field{
  min-width: 500px !important;
  margin-bottom: 20px;
}

