<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="content">
    <div class="btnRegresar" *ngIf="back">
      <button mat-fab color="primary" class="regresar"
      routerLink="/endTest/end"><mat-icon>keyboard_backspace</mat-icon></button>
    </div>
    <div class="main">
      <div class="explanation">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0JmHqB4bBWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="input">
        <mat-form-field>
          <input matInput id="uploadVideo" type="File" accept="video/*" (change)="changeListener($event)">
          <mat-hint>*Tamaño máximo video: 100 MB </mat-hint>
        </mat-form-field><br/>
        <button mat-raised-button color="primary" (click)="sendVideo()" >
          <span>Enviar  </span>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
