<div class="selectSimulacros" class="margin">
  <h2>SIMULACRO DE EXAMEN</h2>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Escoja un simulacro" [(ngModel)]="testSelected" name="Subject">
      <mat-option *ngFor="let test of testsSimulacro; let i = index" [value]="test" (click)="getAverages(test._id, test.type)">
        {{i+1}}. {{test.title | slice:0:30}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button id="mrgShowQues" mat-raised-button cdkFocusInitial color="primary" routerLink="/showQuestions" [disabled]="blnShow">Ver preguntas</button>
</div>
<div class="dataTest" *ngIf="existTest" class="margin">
  <h3> Simulacro {{testSelected?.subType}}  </h3>
  <p> {{testSelected?.title}}</p>
  <p> <b>PROMEDIO TOTAL:</b> {{totalAverage}}%</p>
  <p> <b>No ESTUDIANTES:</b> {{totalAmount}}</p>
</div>
<div class="notExist" *ngIf="flag === 1" class="margin">
  <p >No existe datos para este simulacro</p>
</div>
<div *ngIf="existTest" class="margin" id="last">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> -->
    <!-- area Column -->
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef>Prueba</th>
      <td mat-cell *matCellDef="let t"> {{t?.area}} </td>
    </ng-container>

    <!-- score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef>Promedio</th>
      <td mat-cell *matCellDef="let t">{{t?.score}}%</td>
    </ng-container>

    <!-- people Column -->
    <ng-container matColumnDef="people">
      <th mat-header-cell *matHeaderCellDef>No. Intentos</th>
      <td mat-cell *matCellDef="let t">{{t?.people}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
