table{
  width: 100%;
}
p,h3, h2{
  font-family: 'Lato';
}
mat-form-field{
  width: 300px !important;
  min-width: 300px !important;
}
.margin{
  margin-left: 15px;
}
#last{
  margin-bottom: 15px;
}
#mrgShowQues{
  margin-left: 20px;
}
