<div class="selectSimulacros" class="margin">
    <h2>SIMULACRO DE PRUEBA</h2>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Escoja un simulacro" [(ngModel)]="testSelected" name="Subject">
        <mat-option *ngFor="let test of testsPruebas; let i = index" [value]="test" (click)="getAverages(test._id, test.type)">
          {{i+1}}. {{test.title | slice:0:30}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button id="mrgShowQues" mat-raised-button cdkFocusInitial color="primary" routerLink="/showQuestions" [disabled]="blnShow">Ver preguntas</button>
  </div>
  <div class="dataTest" *ngIf="existTest" class="margin">
    <h3>Simulacro de {{testSelected?.subType | titlecase}}  </h3>
    <p> {{testSelected?.title}} </p>
    <p> <b>PROMEDIO TOTAL:</b> {{totalAverage}}%</p>
    <p> <b>No ESTUDIANTES:</b> {{totalAmount}}</p>
  </div>
  <div class="notExist" *ngIf="flag === 1" class="margin">
    <p >No existe datos para este simulacro</p>
  </div>

