.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.main{
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
iframe{
  margin:10px;
}
