<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/iiUKGdyNXGk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <app-footer></app-footer>
</div>
