<div mat-dialog-content>
  <mat-toolbar>
    <p>Confirmación</p>
  </mat-toolbar>
  <div class="cont">
    <img src="../../../assets/icons/alert.svg" class="img">
    <p>¿Está seguro que desea finalizar?</p>
    <p>Después de finalizar la prueba no podrá realizar correcciones</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="" cdkFocusInitial color="primary" (click)="end()">Finalizar</button>
  <!-- [routerLink]="(['/endTest', 'end'])" -->
</div>

<style>
  mat-toolbar>p {
    font-size: 15px;
    color: #3f51b5;
    font-family: 'Lato';
  }

  mat-toolbar {
    height: 50px;
  }

  .img {
    width: 50px;
    height: 50px;
  }
  .cont{
    text-align: center;
    font-family: 'Lato';
  }
</style>
