<div class="container">
  <div mat-dialog-content>
    <mat-toolbar>
      <p>Revisar Prueba</p>
    </mat-toolbar>
    <div class="options">
      <div class="cont">
        <div class="square1"></div>
        <p>Contestada</p>
      </div>
      <div class="cont">
        <div class="square2"></div>
        <p>Sin contestar</p>
      </div>
      <div class="cont">
        <mat-icon>bookmark</mat-icon>
        <p>Marcada para revisar</p>
      </div>
    </div>
    <div class="questions">
      <div class="squareQ" id ="mark" *ngFor="let question of showArray; let i = index" [ngStyle] = "{'background-color': question.answer}"(click)="goQuestion(i)"><mat-icon *ngIf = "question.mark">bookmark</mat-icon><p><b>{{i+1}}</b></p></div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial color="primary"><mat-icon>clear</mat-icon>Cerrar</button>
  </div>
</div>


<style type="text/css">
  html,
  body {
    min-width: 100%;
  }

  .container {
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  mat-toolbar>p {
    font-size: 15px;
    color: #3f51b5;
  }

  mat-toolbar {
    height: 50px;
  }

  .square1 {
    width: 10px;
    height: 10px;
    background: #fcd25c;
    border: 2px solid #bfbcbc;
  }

  .square2 {
    width: 10px;
    height: 10px;
    border: 2px solid #bfbcbc;
  }
.squareQ{
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border: 2px solid #bfbcbc;
}
.squareQ:hover{
  cursor: pointer;
  opacity: 0.6;
}
  .cont {
    display: flex;
  }

  .cont>p {
    margin-left: 5px;
  }

  .cont>.square1 {
    margin: auto;
  }

  .cont>.square2 {
    margin: auto;
  }

  .cont>mat-icon {
    margin: auto;
    color: #6d090d;
  }

  .options {
    display: flex;
  }

  .options>.cont {
    margin: 10px;
  }
  .questions{
    display: flex;
    flex-direction: row;
  }
  .questions > .squareQ{
    margin: 3px;
  }
  .questions >.squareQ > p{
    text-align: center;
    font-size: 20px;
    flex: 1;
  }
  .questions > .squareQ > mat-icon{
    margin-top: 0px;
    padding: 0px;
    margin-left: 25px;
    position: fixed;
    color: #6d090d;
    flex: 1;
  }
</style>
