<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
    <mat-toolbar>
      <div class="first">
        <p
          *ngIf="
            subType !== 'largo' && subType !== 'corto' && subType !== 'medio'
          "
        >
          Simulacro de {{ subType | titlecase }}
        </p>
        <p
          *ngIf="
            subType === 'largo' || subType === 'corto' || subType === 'medio'
          "
        >
          Simulacro {{ asignatura | titlecase }}
        </p>
      </div>
      <div class="second">
        <p>Pregunta {{ actual }} de {{ totalQ }}</p>
      </div>
      <div class="third">
        <button mat-raised-button color="primary" (click)="openDialog()">
          Revisar prueba
        </button>
        <button mat-raised-button color="primary" (click)="beforeQuestion()" id="before">
          <img src="../../../assets/icons/backW.png" />Anterior
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="nextQuestion()"
          *ngIf="!fin"
        >
          Siguiente <img src="../../../assets/icons/nextW.png" />
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="fin"
          (click)="openConfirmation()"
        >
          Finalizar <img src="../../../assets/icons/nextW.png" />
        </button>
      </div>
    </mat-toolbar>
    <div class="initial">
      <div class="mark" (click)="markQuestion()" *ngIf="!mark">
        <p
          style="margin: auto;  height: 30; color: #6d090d; text-align: center;"
        >
          Marcar pregunta
        </p>
        <mat-icon
          class="material-icons"
          style="background: #6d090d; color:white; border-radius: 50%; padding: 7px; margin: auto; height: 30;"
          >bookmark</mat-icon
        >
      </div>
      <div
        class="mark"
        (click)="markQuestion()"
        *ngIf="mark"
        style="background: #6d090d; color:white;"
      >
        <p style="margin: auto;  height: 30; color: white; text-align: center;">
          Marcar pregunta
        </p>
        <mat-icon
          class="material-icons"
          style="color: #6d090d; background:white; border-radius: 50%; padding: 7px; margin: auto; height: 30;"
          >bookmark</mat-icon
        >
      </div>
      <div id="timer"></div>
    </div>
    <div class="center">
      <div class="centerFirst">
        <div class="video" id="section-video">
          <div class="buttons" id="btns">
            <button color="primary" class="but" (click)="insertVideo('q')">
              ?
            </button>
            <button color="primary" class="but" (click)="insertVideo('a')">
              A
            </button>
            <button color="primary" class="but" (click)="insertVideo('b')">
              B
            </button>
            <button color="primary" class="but" (click)="insertVideo('c')">
              C
            </button>
            <button color="primary" class="but" (click)="insertVideo('d')">
              D
            </button>
          </div>
          <iframe
            id="vid"
            width="560"
            height="315"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
        <div class="text">
          <h3>Enunciado</h3>
          <p>{{ question?.text }}</p>
          <div id="imageQ" class="zoom"></div>
        </div>
      </div>
      <div class="answers">
        <form class="form" #answerForm="ngForm">
          <h3>Opciones de respuesta:</h3>
          <mat-radio-group
            #respuestas
            name="AnswerCorrect"
            [(ngModel)]="answerU"
          >
            <mat-radio-button value="A">
              <p class="text-ques"><b>A. </b>{{ question?.answerA }}</p>
            </mat-radio-button>
            <div id="imageA" class="zoom">
              <!-- <img id="imageA" width="200px" height="250px" /> -->
            </div>
            <br />
            <mat-radio-button value="B">
              <p class="text-ques"><b>B. </b>{{ question?.answerB }}</p>
            </mat-radio-button>
            <div id="imageB" class="zoom" >
              <!-- <img id="imageB" width="200px" height="250px" /> -->
            </div>
            <br />
            <mat-radio-button value="C">
              <p class="text-ques"><b>C. </b>{{ question?.answerC }}</p>
            </mat-radio-button>
            <div id="imageC" class="zoom" >
              <!-- <img id="imageC" width="200px" height="250px" /> -->
            </div>
            <br />
            <mat-radio-button value="D">
              <p class="text-ques"><b>D. </b>{{ question?.answerD }}</p>
            </mat-radio-button>
            <div id="imageD" class="zoom" >
              <!-- <img id="imageD" width="200px" height="250px" /> -->
            </div>
          </mat-radio-group>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
