.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.main{
  margin-top: 64px;
  margin-bottom: 150px;
}
.first p{
  font-size: 20px;
}
.second{
  margin: auto;
}
.second p{
  font-size: 20px;
  color:#3f51b5;
}
.third button{
  margin: 5px;
}
.center{
  display:flex;
  flex-direction: row;
  min-width:100%;
  margin-top: 20px;
}
.centerFirst{
  display: flex;
  flex-direction: column;
}
 .center > div {
  flex:1;
  display:flex;
  margin-top: 0px;
}
.zoom{
  /* Aumentamos la anchura y altura durante 2 segundos */
  transition: width 2s, height 2s, transform 2s;
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  -o-transition: width 2s, height 2s,-o-transform 2s;
  margin-left: 16%;
  animation-delay: 3s;

}
.zoom:hover{
  /* tranformamos el elemento al pasar el mouse por encima al doble de
     su tamaño con scale(2). */
  animation-delay: 3s;
  transform : scale(2);
  -moz-transform : scale(2);      /* Firefox */
  -webkit-transform : scale(2);   /* Chrome - Safari */
  -o-transform : scale(2);        /* Opera */
  cursor: zoom-in;
  z-index: 2;

}
#imageQ{
  margin-left: 140px;
}
.buttons{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.buttons button{
  color: white;

}
.vid{
  margin-left: 0px;
}
.video{
  display: flex;
  margin-top: 50px;
}
.buttons > button{
  width: 30px;
  height: 30px;
  background-color:#3f51b5;
  border: none;
  cursor: pointer;
}
.form{
  margin-top: 0px;
  margin-left: 70px;
}
.answers{
  flex-wrap: wrap;

}
mat-radio-button{
  margin-bottom: 10px;
  /* width: 20px; */

}
.text-ques{
  content: '\A';
  content: '\A';
  white-space: pre-wrap;
}
.mark{
  display: flex;
  width: 120px;
  height: 40px;
  border: 2px solid;
  border-color: #6d090d;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.myDiv{
  background-color: red;
}
.text{
  margin-top: 20px;
  margin-left: 16%;
  /* width: 80%; */
  width: 600px;
  text-align: justify;
}
/* .imageQuestion{
  margin-left: 16%;
} */
.mark:hover{
  cursor: pointer;
}
#timer{
  display: inline;
  font-family: 'Lato';
  font-size: 30px;
  margin-left: 70%;
}
.initial{
  display: flex;

}
