.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1 0 auto;
  margin-top: 80px;
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 30px;
}
.regresar{
  margin-top: 10px;
  margin-left: 20px;
  /* background-color:  */
}

.center{
  display:flex;
  flex-direction: column;
  /* min-width:100%;
  margin-bottom: 10px; */
}
.question{
  display:flex;
  flex-direction: row;
  min-width:100%;
  margin-bottom: 10px;
}
.question > div {
  flex:1;
  display:flex;
  margin-top: 0px;
}
.center > .video{
  flex: 1;
}
.text{
  margin-left: 16%;
  width: 600px;
  text-align: justify;
  margin-top: 20px;
}

.buttons{
  display: flex;
  flex-direction: column;
  margin-left: 170px;
}
.vid{
  margin-left: 0px;
}
.video{
  display: flex;
  margin-top: 50px;
}
.buttons > button{
  width: 30px;
  height: 30px;
  background-color:#3f51b5;
  border: none;
  cursor: pointer;
}
.answers{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.title{
  font-family: 'Lato';
  text-align: center;
}
.quesAnsw{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.answ{
  width: 50%;
}
h3{
  font-family: 'Lato';
  margin-left: 30px;
}
h2{
  margin-top: 0px;
}
