<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="content">
    <div class="btnRegresar">
      <button mat-fab color="primary" class="regresar"
      (click)="goBack()" ><mat-icon>keyboard_backspace</mat-icon></button>
    </div>
    <h2 *ngIf="test.type === 'prueba'" class="title">
      Pregunta de {{ test.subType | titlecase }}
    </h2>
    <h2 *ngIf="test.type === 'simulacro'" class="title">
      Pregunta de {{ question.subject | titlecase }}
    </h2>
    <div class="question">
      <div class="center">
        <div class="video" id="section-video">
          <div class="buttons">
            <button color="primary" class="but">?</button>
            <button color="primary" class="but">A</button>
            <button color="primary" class="but">B</button>
            <button color="primary" class="but">C</button>
            <button color="primary" class="but">D</button>
          </div>
          <iframe
            id="vid"
            width="560"
            height="315"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        </div>
        <div class="text">
          <h3>Enunciado:</h3>
          <p>{{ question?.text }}</p>
          <div id="imageQ"></div>
        </div>
      </div>
      <div class="quesAnsw">
        <div class="answers">
          <h3>Respuestas</h3>
          <div class="answ" id="a">
            <b>A. </b>{{ question?.answerA }}
            <div id="imageA"></div>
          </div>
          <div class="answ" id="b">
            <b>B. </b>{{ question?.answerB }}
            <div id="imageB"></div>
          </div>
          <div class="answ" id="c">
            <b>C. </b>{{ question?.answerC }}
            <div id="imageC"></div>
          </div>
          <div class="answ" id="d">
            <b>D. </b>{{ question?.answerD }}
            <div id="imageD"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
