<div class="container">
  <app-navbar></app-navbar>
  <div class="main">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DxpghYoPzng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="text">
      <h1>Registrarse</h1>
      <div class="buttons-container">
        <!-- <button mat-raised-button id="btnFacebook" (click)="socialSignIn('facebook')">
          <img src="../../../assets/imagesIcons/facebook.svg" class="img" />
          <span>  Entrar con Facebook</span>
        </button> -->
        <button mat-raised-button id="btnGoogle" (click)="socialSignIn('google')">
          <img src="../../../assets/imagesIcons/google-plus.svg" class="img" />
          <span>  Entrar con Google</span>
        </button>
      </div>
      <div class="divider-container">
        <mat-divider></mat-divider>
        <p>O por Correo Electrónico</p>
        <mat-divider></mat-divider>
      </div>
        <form class="form" (ngSubmit)="onSubmit();" #registerForm="ngForm" [formGroup]="regForm">
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput placeholder="Nombres" #nombre [(ngModel)]="user.name" name="Name" required formControlName="name">
            <mat-error *ngIf="regForm.get('name').hasError('minlength')">Mínimo 3 caracteres</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput placeholder="Apellidos" #apellido [(ngModel)]="user.surname" name="Surname" required formControlName="surname">
            <mat-error *ngIf="regForm.get('surname').hasError('minlength')">Mínimo 3 caracteres</mat-error>
          </mat-form-field>
          <!-- <div class="error" *ngIf="regForm.get('name').hasError('minlength') || regForm.get('surname').hasError('minlength')"><p>Mínimo 3 caracteres</p></div> -->
          <br/>
          <mat-form-field class="example-full-width2">
            <mat-icon matPrefix>email</mat-icon>
            <input matInput type="email" placeholder="Correo Electrónico" #correo [(ngModel)]="user.email" name="Email" required formControlName="email">
            <mat-error *ngIf="regForm.get('email').hasError('pattern')">Ingrese un correo electrónico válido. Por ejemplo: usuario@gmail.com</mat-error>
          </mat-form-field>
          <!-- <div class="error" *ngIf="regForm.get('email').hasError('pattern')"><p>Debe ingresar su correo electrónico. Por ejemplo: usuario@gmail.com</p></div> -->
          <br/>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput type="password" placeholder="Contraseña" #contrasena [(ngModel)]="user.password" name="Password" required
              formControlName="password">
            <mat-error *ngIf="regForm.get('password').hasError('minlength')">Mínimo 6 caracteres</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput type="password" placeholder="Confirmar contraseña" #confirmation required formControlName="confirmation">
            <mat-hint *ngIf="regForm.hasError('notsame')">Las contraseñas deben ser iguales</mat-hint>
            <mat-hint *ngIf="!regForm.hasError('notsame')">
              <mat-icon class="check">check_circle</mat-icon>Las contraseñas son iguales</mat-hint>
            </mat-form-field>
          <br/>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [max] = "maxDate" placeholder="Fecha de nacimiento" #fecha [(ngModel)]="user.birthdate" name="Birthdate"
              required formControlName="birthdate" autoDatePicker readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>wc</mat-icon>
            <mat-select placeholder="Género" #genero [(ngModel)]="user.gender" name="Gender" required formControlName="gender">
              <mat-option *ngFor="let genero of generos" [value]="genero.value">
                {{ genero.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" class="botonBlock" [disabled]="!registerForm.form.valid">Crear</button>
          <br/>
          <a routerLink="/login" id="link">¿Ya tienes una cuenta? Ingresa aquí</a>
        </form>

    </div>
  </div>
  <app-footer></app-footer>
</div>
