html,body{
  min-width: 100%;
}
.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.main {
  /* width: 60%;
  text-align: center;
  margin: 80px auto; */
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
}
iframe{
  /* flex: 1; */
  margin: auto;
  margin-left: 30px;
}
.text{
  text-align: center;
  margin: auto;
  flex: 1;
  margin-left: 30px;
}
.img{
  width: 40px;
  height: 40px;
}
#btnGoogle{
  background-color: #dd4b39;
  color: white;
}
#btnFacebook{
  background-color: #3b5998;
  color:white;
}
/* Inputs */
.example-full-width {
  display: inline-block;
  width: 40%;
  padding: 0px;
  margin-right: 10px;
}
.example-full-width2 {
  width: 82%;
  padding: 0px;
  margin-right: 16px;
}
.example-full-width mat-icon{
  margin-right: 10px;
}
.example-full-width2 mat-icon{
  margin-right: 10px;
}
.divider-container{
  display: flex;
  justify-content: center;
}
.divider-container > mat-divider{
  width: 30%;
  margin: 25px;
}
.buttons-container {
  display: flex;
  justify-content: center;
}
.buttons-container > button{
  margin: 0px 10px 5px 10px;
  padding: 10px;
}
/* Formulario registrrase*/
.form {
  margin-top: 0px auto;
  font-family: 'Lato';
  padding: 0px;
}
.botonBlock {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 5px;
}
/* Enlace para olvidaste contraseña */
#link{
  text-decoration: none;
}
#link:hover{
  color: orange;
}
.icon{
  position: fixed;
}
.image .mat-input-element{
  padding-left: 70px;
}
.image{
  width: 82%;
}
.success{
  margin: 10px;
  background: #a5d6a7;
}
.check{
  color: green;
}
.error{
  background-color: #f16d64;
  margin-left: 9%;
  width: 80%;
  padding: 0.5px;
  border-radius: 25px;
}
.exits{
  background-color: #f16d64;
  padding: 5px;
  border-radius: 25px;
  font-size: 20px;
  margin-bottom: 10px;
}



