<div class="container">
  <app-navbar-user [rol]="type"></app-navbar-user>
  <div class="main">
    <div class="image-profile">
      <img id="profile" src="../../../assets/student2.jpg"/>
      <input id="changeImage" type="file" accept="image/*" (change)="changeListener($event)"/>
      <label for="changeImage">Cambiar Foto</label>
    </div>
    <form class="form" (ngSubmit)="onSubmit()" #settingForm="ngForm"  [formGroup]="setForm">
      <!-- <div class="upload-btn-wrapper">
          <input type="file" name="myfile" accept="image/*" (change)="changeListener($event)"/>
        </div><br/> -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
             <mat-panel-title>
                <h3>Editar datos personales</h3>
             </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
              <mat-icon matPrefix>email</mat-icon>
              <!-- <input matInput #correo [(ngModel)]="identity.email" formControlName="email" disabled> -->
              <input matInput disabled>{{identity.email}}
            </mat-form-field>
            <mat-form-field class="example-full-width2">
              <mat-icon matPrefix>person</mat-icon>
              <input matInput placeholder="Nombres" #nombre [(ngModel)]="identity.name" formControlName="name">
              <mat-error *ngIf="setForm.get('name').hasError('minlength')">Mínimo 3 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width2">
              <mat-icon matPrefix>person</mat-icon>
              <input matInput placeholder="Apellidos" #apellido [(ngModel)]="identity.surname" formControlName="surname">
              <mat-error *ngIf="setForm.get('surname').hasError('minlength')">Mínimo 3 caracteres</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width2">
              <input matInput [matDatepicker]="picker" [max] = "maxDate" autoDatePicker readonly placeholder="Fecha de nacimiento" #fecha [(ngModel)]="identity.birthdate" formControlName="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width2">
              <mat-icon matPrefix>wc</mat-icon>
              <mat-select placeholder="Género" #genero [(ngModel)]="identity.gender" formControlName="gender">
                <mat-option *ngFor="let genero of generos" [value]="genero.value">
                  {{ genero.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Cambiar Contraseña</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput placeholder="Nueva Contraseña" type="password" #contrasena [(ngModel)]="identity.password" formControlName="password">
            <mat-error *ngIf="setForm.get('password').hasError('minlength')">Mínimo 6 caracteres</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput placeholder="Confirmar Contraseña" type="password" formControlName="confirmation">
            <mat-hint *ngIf="setForm.hasError('notsame')">Las contraseñas deben ser iguales</mat-hint>
          <mat-hint *ngIf="!setForm.hasError('notsame') && identity.password !== ''">
            <mat-icon class="check">check_circle</mat-icon>Las contraseñas son iguales</mat-hint>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <br/>
      <button mat-raised-button color="primary" id="save-button">
        <mat-icon>save</mat-icon>
        <span>Guardar</span>
      </button>
    </form>
  </div>
  <app-footer></app-footer>
</div>
