/* Contenedor pagina */
.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* contenedor centro */
.main {
  width: 100%;
  text-align: center;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
/* Inputs */
.example-full-width {
  width: 80%;
  margin-right: 16px;
}
.example-full-width2 {
  display: inline-block;
  width: 40%;
  margin-right: 10px;
}
@media(max-width: 800px){
  .example-full-width2{
    width: 80%;
    margin-right: 16px !important;
  }
}
@media(max-width: 580px){
  .main{
    flex-direction: column;
    margin: 100px auto !important;
    margin-bottom: 20px;
  }
  form{
    flex-grow: 1;
  }
}
mat-expansion-panel{
  width: 80%;
  margin: auto;
}
.image-profile{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 50px;
}

#changeImage{
  width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
label[for="changeImage"] {
  margin-top:15px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #3f51b5;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  width: fit-content;
  text-align: center;
  }
/* Foto perfil */
#profile {
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* display: block; */

}
form{
  /* margin-top:50px; */
  margin: auto;
  flex-grow: 8;
}
.check{
  color: green;
}
.wraper:hover {
  cursor: pointer;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper:hover{
  cursor: pointer;
}
.btn:hover{
  cursor: pointer;
}
/* .upload-btn-wrapper input[type=file]:hover{
  cursor: pointer;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 1;
  width:0;
  height: 100%;

} */
