<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
</div>
<div class="container" >
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let test" (click)="updateTest(test.id)"> {{test.position}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
      <td mat-cell *matCellDef="let test" (click)="updateTest(test.id)"> {{test.title | slice:0:90}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Simulacro </th>
      <td mat-cell *matCellDef="let test" (click)="updateTest(test.id)"> {{test.type | titlecase}} </td>
    </ng-container>

    <!-- subType Column -->
    <ng-container matColumnDef="subType" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtipo de Simulacro</th>
      <td mat-cell *matCellDef="let test" (click)="updateTest(test.id)"> {{test.subType | titlecase}} </td>
    </ng-container>

    <!-- deactivate Column -->
    <ng-container matColumnDef="deactivate" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Desactivar / Activar Simulacro</th>
      <td mat-cell *matCellDef="let test"><mat-slide-toggle [checked]="test.state" (change)="deactivateTest(test.id)"></mat-slide-toggle> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  <div class="addButtonContainer">
    <!-- <button mat-fab color="warn" [disabled]="!status" (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button> -->
    <button mat-fab color="primary" routerLink="/addTest">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
