.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #757575; */
  background-color: #474647;
  color:#E0E0E0;
  height: 225px;
  /* z-index: 2; */
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  z-index: 2;

}
.first-column{
  width: 50%;
  /* margin-right: 20px; */
  flex: 50%;
  text-align: left;
  flex-flow: row wrap;

}
.first-column > p{
  width: 80%;
  white-space: pre-wrap;
  text-align: justify;

}
.second-column{
  width: 50%;
  white-space: pre-wrap;
  flex: 50%;
  text-align: left;
}
@media (max-width:749px){
  .footer{
    height: 340px;
  }
}



