<mat-card class="footer">
  <div class="first-column">
    <h3>¿Quiénes somos?</h3>
    <p>
      Somos un colectivo de estudiantes y profesores de la Universidad Industrial de Santander que buscamos brindar herramientas a las personas sordas que deseen prepararse para el examen de estado Saber 11.
    </p>
    <p>Icons made by Freepik from www.flaticon.com </p>
    <p>Icons made by Iconfinder from www.iconfinder.com </p>
  </div>
  <div class="second-column">
    <h3>Contacto</h3>
    <p><b>Celular:</b> 3152139799 | 3166240253</p>
    <p><b>Correo:</b> proyectopreicfessordos@gmail.com</p>
  </div>
</mat-card>
