<div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> -->
      <!-- try Column -->
      <ng-container matColumnDef="try">
        <th mat-header-cell *matHeaderCellDef>Intento</th>
        <td mat-cell *matCellDef="let t" (click)= "getDocTry(t.try)"> {{t.try}} </td>
      </ng-container>

      <!-- score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>
          Puntaje Total
        </th>
        <td mat-cell *matCellDef="let t" (click)= "getDocTry(t.try)">
          {{t.score}}%
        </td>
      </ng-container>

      <!-- good Column -->
      <ng-container matColumnDef="good">
        <th mat-header-cell *matHeaderCellDef>
          Correctas
        </th>
        <td mat-cell *matCellDef="let t" (click)= "getDocTry(t.try)">
          {{t.good}}
        </td>
      </ng-container>

      <!-- bad Column -->
      <ng-container matColumnDef="bad">
        <th mat-header-cell *matHeaderCellDef>
          Incorrectas
        </th>
        <td mat-cell *matCellDef="let t" (click)= "getDocTry(t.try)">
          {{t.bad}}
        </td>
      </ng-container>

      <!-- notAnswered Column -->
      <ng-container matColumnDef="noAnswered">
        <th mat-header-cell *matHeaderCellDef>
          No respondidas
        </th>
        <td mat-cell *matCellDef="let t" (click)= "getDocTry(t.try)">
          {{t.notAnswered}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
