<div mat-dialog-content>
    <p>¿Estas seguro que deseas desactivar las preguntas?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial  (click) = "deactivate()" >Aceptar</button>
</div>