table {
    width: 100%;
  }
  .addButtonContainer{
    padding: 20px;
  }
  .addButtonContainer button{
    margin: 0px 20px;
  }
  td.mat-cell {
    cursor: pointer;
  }
  .filter{
    text-align: right;
    margin-right: 40px;
  }
  .filter mat-form-field{
    width: 40%;
  }
