<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let question" (click)="updateQuestion(question.id)"> {{question.position}} </td>
    </ng-container>

    <!--  Column text -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Texto</th>
      <td mat-cell *matCellDef="let question" (click)="updateQuestion(question.id)"> {{question.text | slice:0:90}} ...</td>
    </ng-container>

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </th>
      <td mat-cell *matCellDef="let question" (click)="updateQuestion(question.id)"> {{question.subject | titlecase}} </td>
    </ng-container>

    <!-- subSubject Column -->
    <ng-container matColumnDef="subSubject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtipo de la pregunta</th>
      <td mat-cell *matCellDef="let question" (click)="updateQuestion(question.id)"> {{question.subSubject | titlecase}} </td>
    </ng-container>

    <!-- deactivate Column -->
    <ng-container matColumnDef="deactivate" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Desactivar / Activar Pregunta</th>
      <td mat-cell *matCellDef="let question"><mat-slide-toggle [checked]="question.state" (change)="deactivateQuestion(question.id)"></mat-slide-toggle> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  <div class="addButtonContainer">
    <!-- <button mat-fab color="warn" [disabled]="!status" (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button> -->
    <button mat-fab color="primary" routerLink="/addQuestion">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
