table {
    width: 100%;
  }
.addButtonContainer{
    padding: 20px;
  }
.addButtonContainer button{
  margin: 0px 20px;
  }
  .filter{
    text-align: right;
    margin-right: 40px;
  }
  .filter mat-form-field{
    width: 40%;
  }
  #btnEst{
    margin: 0px 10px 10px 10px;
  }

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: green;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: green;
}
/deep/ .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: red;
}
/deep/ .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: red;
}

