<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
</div>
<!-- <h3>Usuarios Registrados: {{users?.length}} </h3> -->
<button mat-raised-button id="btnEst" color ="primary" routerLink="/averages">
  <mat-icon [ngStyle]="{ padding: '10px' }">assessment</mat-icon>
  <span>Estadísticas</span>
</button>
<button mat-raised-button id="btnSug" color ="primary" routerLink="/showSuggestions">
  <mat-icon [ngStyle]="{ padding: '10px' }">feedback</mat-icon>
  <span>Ver Sugerencias</span>
</button>
<div class="container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let user"> {{user.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Género Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
      <td mat-cell *matCellDef="let user">{{user.gender| titlecase}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Desactivar / Activar usuario </th>
        <td mat-cell *matCellDef="let user"> <mat-slide-toggle [checked]="user.state" (change)="deactivateUser(user.id)"></mat-slide-toggle> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  <!-- <div class="addButtonContainer">
    <button mat-fab color="warn" [disabled]="!status" (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div> -->
</div>
