html, body{
  min-width: 100%;
}
.container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.filter{
  text-align: right;
  margin-right: 40px;
}
.filter mat-form-field{
  width: 40%;
}
.main{
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}
.img{
  margin: auto;
  width: 80px;
  height: 80px;
  display: block;
}
.imgOpacity{
  margin: auto;
  width: 80px;
  height: 80px;
  display: block;
  opacity: 0.5;
  cursor: context-menu;
}
.card-container{
  /* flex:100%; */
  display: flex;
  flex-wrap: wrap;
  /* height: 250px; */

}
.tests{
  flex: 100%;
  /* margin-top: 75px; */
}
.card{
  flex: 40%;
  /* width: 50%; */
  /* height: 110%; */
}
.subject-container{
  display: flex;
  justify-content: center;
}
.subject{
  margin: 0px 30px 0px 30px;
  text-align: center;
}
mat-card-subtitle{
  height: 30px;
}
.header{
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Lato';
}
.button{
  text-decoration: none;
  cursor: pointer;
}
/* mat-toolbar{
  margin-top: 75px;
  text-align: center;
} */
mat-toolbar > span{
  text-align: center;
  margin: auto;
}
/* .test{
  display: flex;
} */
/* .test > mat-icon{
  margin: auto 0px;
} */
table{
  width: 100%;
}

.appear{
  visibility: hidden;
  position: absolute;
  width: 150px;
  height: 170px;
  margin: auto;
  transform: translate(-50%, -50%);

}
.subject:hover .appear{
  visibility: visible;
  transition-delay: .4s;
}


