<div class="container" *ngIf="identity !== null && type === 0">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
    <div class="card-container">
      <mat-card class="card">
        <div class="header">
          <p>SIMULACROS DE PRUEBAS</p>
        </div>
        <mat-card-content class="subject-container">
          <div class="subject">
            <div *ngIf="numberLectura <= 0">
              <mat-card-subtitle>Lectura Crítica</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/lectura.svg" class="imgOpacity">
              <img src="../../../assets/gifs/PruebaLecturaCritica.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberLectura > 0" [routerLink]="['/testStart', 'lectura']">
              <mat-card-subtitle *ngIf="numberLectura > 0" [matBadge]="numberLectura" matBadgeColor="warn">Lectura Crítica</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/lectura.svg" class="img">
              <img src="../../../assets/gifs/PruebaLecturaCritica.gif" class="appear">
            </a>
          </div>
          <div class="subject">
            <div *ngIf="numberMatematicas <= 0">
              <mat-card-subtitle>Matemáticas</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/math.svg" class="imgOpacity">
              <img src="../../../assets/gifs/PruebaMatematicas.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberMatematicas > 0" [routerLink]="['/testStart', 'matematicas']">
              <mat-card-subtitle [matBadge]="numberMatematicas" matBadgeColor="warn">Matemáticas</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/math.svg" class="img">
              <img src="../../../assets/gifs/PruebaMatematicas.gif" class="appear">
            </a>
          </div>
          <div class="subject">
            <div *ngIf="numberSociales <= 0">
              <mat-card-subtitle>Sociales y ciudadanas</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/sociales.svg" class="imgOpacity">
              <img src="../../../assets/gifs/PruebaSociales.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberSociales > 0" [routerLink]="['/testStart', 'sociales']">
              <mat-card-subtitle *ngIf="numberSociales > 0" [matBadge]="numberSociales" matBadgeColor="warn">Sociales y ciudadanas</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/sociales.svg" class="img">
              <img src="../../../assets/gifs/PruebaSociales.gif" class="appear">
            </a>
          </div>
          <div class="subject">
            <div *ngIf="numberNaturales <= 0">
              <mat-card-subtitle>Ciencias Naturales</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/naturales.svg" class="imgOpacity">
              <img src="../../../assets/gifs/PruebaCiencias.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberNaturales > 0" [routerLink]="['/testStart', 'naturales']">
              <mat-card-subtitle [matBadge]="numberNaturales" matBadgeColor="warn">Ciencias Naturales</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/naturales.svg" class="img">
              <img src="../../../assets/gifs/PruebaCiencias.gif" class="appear">
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card" id="card2">
        <div class="header">
          <p>SIMULACROS DE EXAMEN</p>
        </div>
        <mat-card-content class="subject-container">
          <div class="subject">
            <div *ngIf="numberLargo <= 0">
              <mat-card-subtitle>Largo</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/largo.svg" class="imgOpacity">
              <img src="../../../assets/gifs/SimulacroExamenLargo.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberLargo > 0" [routerLink]="['/testStart', 'largo']">
              <mat-card-subtitle *ngIf="numberLargo > 0" [matBadge]="numberLargo" matBadgeColor="warn">Largo</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/largo.svg" class="img">
              <img src="../../../assets/gifs/SimulacroExamenLargo.gif" class="appear">
            </a>
          </div>
          <div class="subject">
            <div *ngIf="numberMedio <= 0">
              <mat-card-subtitle>Medio</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/medio.svg" class="imgOpacity">
              <img src="../../../assets/gifs/SimulacroExamenMedio.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberMedio > 0" [routerLink]="['/testStart', 'medio']">
              <mat-card-subtitle [matBadge]="numberMedio" matBadgeColor="warn">Medio</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/medio.svg" class="img">
              <img src="../../../assets/gifs/SimulacroExamenMedio.gif" class="appear">
            </a>
          </div>
          <div class="subject">
            <div *ngIf="numberCorto <= 0">
              <mat-card-subtitle>Corto</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/corto.svg" class="imgOpacity">
              <img src="../../../assets/gifs/SimulacroExamenCorto.gif" class="appear">
            </div>
            <a class="button" *ngIf="numberCorto > 0" [routerLink]="['/testStart', 'corto']">
              <mat-card-subtitle [matBadge]="numberCorto" matBadgeColor="warn">Corto</mat-card-subtitle>
              <img src="../../../assets/imagesIcons/corto.svg" class="img">
              <img src="../../../assets/gifs/SimulacroExamenCorto.gif" class="appear">
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tests">
      <mat-toolbar>
        <span>Simulacros realizados</span>
      </mat-toolbar>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <!-- Pestaña Pruebas -->
        <mat-tab label="Simulacros de pruebas">
          <app-table-test-index></app-table-test-index>
        </mat-tab>
        <!-- Pestaña Preguntas -->
        <mat-tab label="Simulacros de examen">
          <app-table-examen-index></app-table-examen-index>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <app-footer></app-footer>
</div>
