  <div mat-dialog-content>
      <mat-toolbar>
        <p>Videos de ayuda</p>
        <mat-icon>videocam</mat-icon>
      </mat-toolbar>
      <div class="cont">
        <div class="videosSection">
          <h3>Presentación Proyecto</h3>
          <hr/>
          <div class="videos">
            <iframe width="400" height="215" src="https://www.youtube.com/embed/Ef1QoORjcMQ" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
          </div>
        </div>
        <div class="videosSection">
            <h3>Realizar Simulacros</h3>
            <hr/>
            <div class="videos">
              <iframe width="400" height="215" id="sep" src="https://www.youtube.com/embed/ugSkr8OhjxE" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
          </div>
          <div class="videosSection">
            <h3>Ver Resultados</h3>
            <hr/>
            <div class="videos">
              <iframe width="400" height="215" src="https://www.youtube.com/embed/MGIKXy4qfZ0" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="videosSection">
            <h3>Repetir Simulacro</h3>
            <hr/>
            <div class="videos">
              <iframe width="400" height="215" src="https://www.youtube.com/embed/J4DS9AcO2d8" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="videosSection">
            <h3>Editar Perfil</h3>
            <hr/>
            <div class="videos">
              <iframe width="400" height="215" src="https://www.youtube.com/embed/1AE7WV-uWoY" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="videosSection">
            <h3>Recursos</h3>
            <hr/>
            <div class="videos">
              <iframe width="400" height="215" src="https://www.youtube.com/embed/Oa55GpBDp2I" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial color="primary"><mat-icon>clear</mat-icon>Cerrar</button>
  </div>


<style>
  h3{
    font-family: 'Lato';
  }
  hr{
    margin-top: 0px;
  }
  .videos{
    display: flex;
    flex-direction: row;
  }
  #sep{
    margin-right: 10px;
  }
</style>
