<div mat-dialog-content>
    <mat-toolbar>
      <p>Videos de ayuda</p>
      <mat-icon>videocam</mat-icon>
    </mat-toolbar>
    <div class="cont">
      <div class="videosSection">
        <h3>Crear Prueba</h3>
        <hr/>
        <div class="videos">
          <iframe width="400" height="215" src="https://www.youtube.com/embed/qvgciXO8AdA" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
        </div>
      </div>
      <div class="videosSection">
          <h3>Crear Pregunta</h3>
          <hr/>
          <div class="videos">
            <iframe width="400" height="215" src="https://www.youtube.com/embed/tv_-YOfjTHI" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
        </div>
        <div class="videosSection">
          <h3>Ver Usuarios Registrados</h3>
          <hr/>
          <div class="videos">
            <iframe width="400" height="215" src="https://www.youtube.com/embed/61GRtKMHHGE" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" cdkFocusInitial color="primary"><mat-icon>clear</mat-icon>Cerrar</button>
</div>


<style>
h3{
  font-family: 'Lato';
}
hr{
  margin-top: 0px;
}
.videos{
  display: flex;
  flex-direction: row;
}
</style>
