.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.navbar{
  background-color: #fcd25c;
  color: #442C2E;
  position: fixed;
  z-index: 2;
  /* position: relative;
  top: 0;
  left: 0;
  right: 0; */
}
#profile2 {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-right: 10px;
}
#expand{
  margin-top:13px;
}
#name{
  margin-top:7px;
}
.image-profile{
  display: flex;
  flex-direction: row;
}
