<mat-toolbar class="navbar">
  <button mat-button (click)="go()">
    <mat-icon [ngStyle]="{ padding: '10px' }">home</mat-icon>
    <span> Inicio</span>
  </button>
    <!-- <button mat-button routerLink="/showSuggestions">
      <mat-icon [ngStyle]="{ padding: '10px' }" >feedback</mat-icon>
      <span>Sugerencias</span>
    </button> -->
  <button mat-button (click)="openHelpDialog()" *ngIf="type">
    <mat-icon [ngStyle]="{ padding: '10px' }">help</mat-icon>
    <span>Ayuda</span>
  </button>
  <button mat-button (click)="openDialogAdmin()" *ngIf="!type">
    <mat-icon [ngStyle]="{ padding: '10px' }">help</mat-icon>
    <span>Ayuda</span>
  </button>
  <span class="spacer"></span>
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu" class="btnImg">
      <!-- <img src="../../../assets/user_circle.png" />  -->
      <div class="image-profile">
        <img id="profile2" src="../../../assets/imagesIcons/avatar.svg"/>
        <span id="name">
          {{ identity?.name }}
          {{ identity?.surname }}
        </span>
        <mat-icon id="expand">expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/suggestions" class="block" *ngIf="type">
        <mat-icon >feedback</mat-icon>
        <span>Enviar sugerencias</span>
      </button>
      <button mat-menu-item routerLink="/resources" class="block" *ngIf="type">
        <mat-icon >library_books</mat-icon>
        <span>Recursos</span>
      </button>
      <button mat-menu-item (click)="setting()">
        <mat-icon>settings</mat-icon>
        <span>Editar Perfil</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>redo</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
