<div class="container">
  <app-navbar-user [rol]="'student'"></app-navbar-user>
  <div class="main">
      <div class="card" id="matematica" (click)="loadImages('matematica')">
        <img  src="../../../assets/imagesIcons/math.svg" />
        <h4>Matemáticas</h4>
      </div>
      <div class="card" id="naturales" (click)="loadImages('naturales')">
        <img src="../../../assets/imagesIcons/naturales.svg" />
        <h4>Ciencias Naturales</h4>
      </div>
      <div class="card" id="sociales" (click)="loadImages('sociales')">
        <img src="../../../assets/imagesIcons/sociales.svg" />
        <h4>Sociales y Ciudadanas</h4>
      </div>
      <div class="card" id="lectura" (click)="loadImages('lectura')">
        <img src="../../../assets/imagesIcons/lectura.svg" />
        <h4>Lectura Crítica</h4>
      </div>
  </div>
  <div class="mainImages" id="voc">
    <!-- <img id="voc"> -->
  </div>
  <app-footer></app-footer>
</div>
