html, body{
  height: 100%;
  margin: 0;
}
.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.mainImages{
  display: flex;
  flex-direction: row;
  /* flex: 1 0 auto; */
  flex-wrap: wrap;
  margin:55px;
  justify-content: center;
}

.card img{
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

.card img:hover{
  width: 90px;
  height: 90px;
  /* margin-top: 15px; */
}
.card h4{
  margin-top: 15px;
  font-family: 'Lato';
}

.main{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card{
  width: 150px;
  height: 170px;
  /* background:#3e85d1; */
  /* background:#81a4cd; */
  /* background:#e88d67; */
  /* margin:20px; */
  text-align: center;
  /* border-radius: 15%; */
  cursor: pointer;
}
